body{
    background-color: rgb(7, 13, 41);
}

.navbar{
    background-color: rgb(7, 13, 41);
}
.navbar-brand{
    color: rgb(63, 216, 216);
    font-size: 40px;
    margin-right: 50px;
}
#nav-btn{
    background-color: rgb(7, 13, 41);
    color: rgb(63, 216, 216);
}
.nav-link{
    color: rgb(63, 216, 216);
}

#nav-item {
    color: rgb(63, 216, 216);
}

/* BODY */
#hi{
    color: rgb(63, 216, 216);
    font-size: 20px;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}
#name {
    text-align: left;
    font-size: 85px;
    color: rgb(210, 228, 252);
    margin-top: 10px;
    margin-bottom: 20px;
}

#contact-btn {
    color: rgb(63, 216, 216);
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding:1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.btn {
    padding: 0rem;
}

h1{
    text-align: left;
    font-size: 75px;
    color: rgb(173, 201, 229);
    Margin: 0px, 25px, 25px;
}

h2{
    color: white;  
    text-align: left;
    Margin: 10px 0px 0px;
}

h3{
    color: rgb(63, 216, 216);
    font-size: 25px;
    text-align: left;
    
}
p{
    text-align: left;
    color: rgb(133, 169, 204);
  
}

/* #8892b0 */

.contact_btn{
    color: rgb(63, 216, 216);
    font-size: 15px;
    text-align: center;
    background-color: rgb(7, 13, 41);
    border-radius: 2mm; color: rgb(63, 216, 216);


}

.list-group-item{
    background-color: rgb(7, 13, 41); 
}
.skills{
    margin-bottom: 10px;
    background-color: rgb(7, 13, 41);   
}
.my_heading {
    color:rgb(210, 228, 252);
    margin-bottom: 10mm;
}
.card{
    background-color: rgb(7, 13, 41);
    text-align: center;
    color: rgb(133, 169, 204);
}

/* FOOTER */
.container_contact{
    background-color: rgb(7, 13, 41);
}
.social {
    text-align: center;
    max-width: 100%;
    height: auto;
}
#img-rounded {

}

#skills-id {
    width: 100%;
    max-width: 100px;
    height: auto;
}

.img-social {
    height: 200px;
    width: 200px;
    border: 1px solid black;
    margin: 4px;
}
img {
    max-width: 50%;
    max-height: 50%%;
    display: block;
    margin: 0 auto;
}


/* Education */
#list-full {
    background-color: rgb(7, 13, 41);
    text-align: center;
    color: rgb(133, 169, 204);
}
#list-BA {
    background-color: rgb(7, 13, 41);
    text-align: center;
    color: rgb(133, 169, 204);
}
#list-nurse {
    background-color: rgb(7, 13, 41);
    text-align: center;
    color: rgb(133, 169, 204);
}
#list-full-list{
    background-color: rgb(7, 13, 41);
    text-align: center;
    color: rgb(133, 169, 204);
}
#list-BA-list {
    background-color: rgb(7, 13, 41);
    text-align: center;
    color: rgb(133, 169, 204);
}
#list-nurse-list{
    background-color: rgb(7, 13, 41);
    text-align: center;
    color: rgb(133, 169, 204);
}
#ed {
    text-align: center; 
}

/* Portfolio */
.Portfolio {
    margin-bottom: 15px;
}

/* Experience */
.experience {
    margin-bottom: 15px;
}